body{
    font-family: 'Merriweather', serif;
}

.map-container {
    width: 100vw;
    height: 450px;
  }
  
  @media (min-width: 1024px) {
    .map-container {
      width: 100vw;
      height: 700px;
    }
  }